/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

html {
    overflow-y: scroll;
}

textarea {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: #ededed;
    border-width: 0 0 1px 0;
    border-color: grey;
    border-radius: 4px 4px 0 0;
    padding: 0.5rem;
}

/* Image upload */
.fileContainer {
    border-radius: 0;
    width: fit-content;
    padding: 1rem;
}

.chooseFileButton {
    border-radius: 0 !important;
}

.uploadPictureContainer {
    padding: 5px !important;
    margin: 0.5rem !important;
}
